<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <ul>
      <% items.forEach(function({ id, content }) { %>
      <li><%= id %> : <%= content %></li>
      <% }); %>
    </ul>
  </body>
</html>
